@import "font-face.scss";
@import "mixin.scss";

html body{
    margin: 0;
    padding: 0;
}

#bloc_page{
    width: 100%;
    height: auto;
    overflow: auto;
}

$back:#579C87;
$font:#FDCB46;
$back_1:#FDE0DC;
$back_2:#FFF5FE;
$back_3: #EDEFEF;
$back_4:#FDFFFD;

/*All page*/
a{
    display: block;
    text-decoration: none;
}

/*header*/

header{
    background-color:$back;
    height: 80px;

    h1{
        margin: 0;
        padding: 1.4rem ;
        font-size:2.6em ;
        color: $font;
        text-align: center;
        font-family: 'tamo', serif;
        font-weight: normal;
    }
}

/*Section*/

.first-line{
    @include menu-index;
}

.first-line div{
    @include zoom;
}

.last-line{
    @include menu-index;
    margin-bottom: 7%;
}

.last-line div{
    @include zoom;
}
    
.menu-1{
    background-color: $back_1;
    @include menus;

    svg{
        padding-bottom: 0;
    }

    h2{
        margin-top: 0;
        color: #3D1319;
        font-family: 'devonshire', serif;
        font-size: 1.4em;
        font-weight: normal;
        margin-bottom: 2%;
    }

    h3{
        margin-top: 0;
        color: #3D1319;
        font-family: 'Comic sans MS', serif;
        font-weight: normal;
        text-transform: uppercase;
        font-style: italic;  
    }
}

.menu-2{
    background-color: $back_2;
    @include menus;

    h2{
        font-family: 'Croissant One', serif;
        font-size: 0.8em;
        font-weight: normal;
    }

    h3{
        color:#C67412 ;
        margin-top: 0;
        font-size: 1.5em;
        font-family: 'Linguistics Pro', serif;
        font-weight: 600;
    }
}

.menu-3{
    background-color: $back_3;
    @include menus;

    h2{
        font-family: 'Dancing Script OT', serif;
        font-weight: normal;
        font-size: 1.2em;
    }

    h3{
        color: #0228DD;
        font-family: 'caveat', serif;
        font-weight: normal;
        font-size: 2em;
        margin-top: 8%;
    }
}

.menu-4{
    background-color: $back_4;
    @include menus;

    h2{
        font-family: "merienda", serif;
        font-size: 1.2em;
        font-style: italic;
    }

    h3{
        color:#3D923A;
        font-family: 'Caveat', serif;
        font-weight: normal;
        margin-top: 3%;
        font-size: 2em;
    }
}

.soon{
    width: 50%;
    text-align: center;
    color: $font;
    font-weight: normal;
    border:1px solid $back ;
    background-color: $back;
    border-radius:7px ;
    margin: auto;
    margin-bottom: 17%; 

    h2{
        margin: 0.25rem;
        font-family: 'montserrat', serif;
        font-weight: normal;
        font-size: 1.2em;
        padding-bottom: 0.5rem;
    }

    span{
        font-size: 1.5em;
        display: inline-block;
        animation: move 2s infinite;
        animation-timing-function: ease-in-out;
    }

        &:nth-child(2){
            animation-delay: 0.2s;
        }
        &:nth-child(3){
            animation-delay: 0.2s;
        }
}

@keyframes move{
    50%{
    opacity: 0;
    transform: scale(0.7) translateY(10px);
    }
}

/*Footer*/

footer{
    background-color:$back;
    font-family: 'montserrat', serif;
    font-weight: normal;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;

    h1{
        color: $font;
        font-size: 1em;
        font-weight: normal;
    
            &:hover{
                animation-name: wiggle;
                animation-duration: 1s;
                animation-timing-function: ease;
                animation-delay: 0s;
                animation-iteration-count: infinite;
                animation-direction: normal;
        }
    }
}

@keyframes wiggle{
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg);}
  100% { transform: rotate(0deg);}
}

/*Menu Note enchantée*/

.up{
    text-align: center;
    font-size: 1.5em;
}

.menu-note{
    background-color: $back_1;
    padding-bottom:5%;
    font-family: 'kalam', serif;
    @include menu-big; 
    color: #3D1319;

    h2{
        margin: 0;
        text-align: center;
        font-family: 'devonshire', serif;
        font-weight: normal;
    }
}

.note{
    display: block;
    padding-top:5%;
    margin-left: auto;
    margin-right: auto;
}

.line_1{
    display: flex;
    justify-content: space-around;
    width: 99%;
    margin-top: 5%;
    margin-right: 3%;

    h3{
        font-size: 1em;  
        text-align: center; 
        margin-top: -2%;
        margin-bottom: 2%;
        font-weight: 600;

            &:after {
                content: "";
                display: flex;
                height: 1.5px;
                width: 0;
                transition-delay: 0s;
                transition-property: width;
                transition-duration: 0.7s;
                transition-timing-function: cubic-bezier(0.54, 0.08, 0.15, 0.99);
        }
    }
}

  .line_1 h3:hover:after {
    width: 100%;
    background: #3D1319;
}

table{
    width: 99%;
    border-spacing: 0;
}

tr{
    line-height: 1.75em;
}

th{
    text-align: left;
    font-weight: normal;
}

td{
    text-align: right;
}

.menu-note th{
    font-weight: normal;
    font-size: 0.8em;
    padding-left: 6%;   
}

.menu-note td{
    font-weight: 600;
    font-size: 0.8em;
    padding-right: 6%;
}

.down{
    margin: 10% 18% 6% 18%;
    display: flex;
    justify-content: center;

    h2{
        font-family: 'devonshire', serif;
        font-weight: normal;
        margin: 0;
    }
}

.note-mini{
    margin: 1.5%;
    margin-top: 0;
}

/*Menu Chic à la française*/

.menu-chic{
    background-color:$back_2;
    padding-bottom:10%;
    @include menu-big;   

    h2{
        margin: 0;
        padding-top: 10%;
        padding-bottom: 2%;
        text-align: center;
        font-family: 'Croissant One', serif;
        font-weight: normal;
    }
}

.linear-gradient {
    background: linear-gradient(315deg, #c67412 0%, #a56799 50%, #6e4ccc 75%);
    background: -webkit-linear-gradient(315deg, #c67412 0%, #a56799 50%, #6e4ccc 75%);
    background: -moz-linear-gradient(315deg, #c67412 0%, #a56799 50%, #6e4ccc 75%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
  
.line_2{
    display: flex;
    justify-content: space-between;
    width: 99%;
    margin-top: 8%;
    margin-right: 3%;

    h3{
        font-size: 0.70em; 
        font-family: 'Bitstream Vera Serif', serif; 
        text-align: center; 
        margin-top: -1%;
        margin-bottom: 4%;
    }
}

.first_2{
    color: #C67412;

    h3:after {
        content: "";
        display: flex;
        height: 1.5px;
        width: 0;
        transition-delay: 0s;
        transition-property: width;
        transition-duration: 0.7s;
        transition-timing-function: cubic-bezier(0.54, 0.08, 0.15, 0.99);
    }
    
}

  .first_2 h3:hover:after {
    width: 100%;
    background: #C67412;
}

.menu-chic th{
    padding-left: 10%;
    font-family: 'Lido STF', serif;
    font-weight: normal;
    font-size: 0.75em;
}

.menu-chic td{
    padding-right: 10%;
    font-family: 'Lido STF', serif;
    font-weight: normal;
    font-size: 0.75em;
}

.second_2{
    color: #A56799;

    h3:after {
        content: "";
        display: flex;
        height: 1.5px;
        width: 0;
        transition-delay: 0s;
        transition-property: width;
        transition-duration: 0.7s;
        transition-timing-function: cubic-bezier(0.54, 0.08, 0.15, 0.99);
    }
}

.second_2 h3:hover:after {
    width: 100%;
    background: #A56799;
}

.third_2{
    color: #6E4CCC;

    h3:after {
        content: "";
        display: flex;
        height: 1.5px;
        width: 0;
        transition-delay: 0s;
        transition-property: width;
        transition-duration: 0.7s;
        transition-timing-function: cubic-bezier(0.54, 0.08, 0.15, 0.99);
    }
}

.third_2 h3:hover:after {
    width: 100%;
    background: #6E4CCC;
}

/*Menu Délice des papilles*/

.menu-delice{
    background-color:$back_3;
    padding-bottom:10%;
    font-family: 'Merienda', serif;
    @include menu-big;   

    h2{
        margin: 0;
        padding-top: 8%;
        text-align: center;
        font-family: 'Dancing Script OT', serif;
        font-weight: normal;
    }
}

.linear-gradient_3 {
    background: linear-gradient(315deg, #0228DD 0%, #0670F3 50%);
    background: -webkit-linear-gradient(315deg,#0228DD 0%, #0670F3 50%);
    background: -moz-linear-gradient(315deg, #0228DD 0%, #0670F3 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.menu-delice th{
    font-size: 0.75em;
    padding-left: 8%;  
}

.menu-delice td{
    font-size: 0.75em;
    padding-right: 8%;
}

.line_3{
    display: flex;
    justify-content: space-between;
    width: 99%;
    margin-top: 7%;

    h3{
        font-size: 0.8em;
        margin-top: -1%;
        margin-bottom: 2%;
        text-align: center;
    }
}

.first_3 h3:after {
    content: "";
    display: flex;
    height: 1.5px;
    width: 0;
    transition-delay: 0s;
    transition-property: width;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.54, 0.08, 0.15, 0.99);
}
.first_3 h3:hover:after {
    width: 100%;
    background:#0228DD;
}

.second_3 h3:after {
    content: "";
    display: flex;
    height: 1.5px;
    width: 0;
    transition-delay: 0s;
    transition-property: width;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.54, 0.08, 0.15, 0.99);
}
.second_3 h3:hover:after {
    width: 100%;
    background:#0670F3;
}
.third_3 h3:after {
    content: "";
    display: flex;
    height: 1.5px;
    width: 0;
    transition-delay: 0s;
    transition-property: width;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.54, 0.08, 0.15, 0.99);
}

.third_3 h3:hover:after {
    width: 100%;
    background:#56B3F7;
}

/*Menu La palette du goût*/
.menu-palette{
    background-color:$back_4;
    padding-bottom:10%;
    font-family:'Caveat', serif;
    @include menu-big;   

    h2{
        margin: 0;
        padding-top: 10%;
        padding-bottom: 2%;
        text-align: center;
        font-family: 'Merienda', serif;
        font-style: italic;
    }
}

.line_4{
    display: flex;
    justify-content: space-between;
    width: 99%;
    margin-top: 8%;

    h3{
        font-size: 1.2em;
        margin-top: -1%;
        margin-bottom: 2%;
        font-weight: normal;
        text-align: center;
    }
}

.line_4 h3:after {
    content: "";
    display: flex;
    height: 1.5px;
    width: 0;
    transition-delay: 0s;
    transition-property: width;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.54, 0.08, 0.15, 0.99);
}

.line_4 h3:hover:after {
    width: 100%;
    background: #3C913A;
}
  
.linear-gradient_4 {
    background: linear-gradient(315deg, #3D923A 0%, #86D061 50%, #B4F679 80%);
    background: -webkit-linear-gradient(315deg,#3D923A 0%, #86D061 50%, #B4F679 80%);
    background: -moz-linear-gradient(315deg, #3D923A 0%, #86D061 50%, #B4F679 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.menu-palette th{
    font-size: 1em;
    padding-left: 8%;
}

.menu-palette td{
    font-size: 1em;
    padding-right: 8%;
}

/*Mentions légales*/

.mentions{
    margin: 5% 10% 5% 10%;

    h2{
        text-align: center;
        font-size: 1.6em;
        margin-top: 0;
        color: $font;

        h3{
            color: $font;
            text-decoration: underline;

            p{
                text-align: justify;
            }
        }
    }
}

@import "media.scss";


